# Directories
.vs/
Bin/
Bin-Obj/
bin-int/
enc_temp_folder/
ARM/
x86/
x64/
ARM64/
Pods/
build/
.gradle/
.idea/

# Files
*.user
*.sln
*.vcxproj
*.filters
*.xcworkspacedata
*.filters
*.pbxproj
*.filters
*.xcworkspace
*.DS_Store
*.xcodeproj
*.ini
*.recipe
*.so
*.a
Makefile
./Podfile

Podfile.lock
*.pak
local.properties
/premake5.lua
/Podfile

